<div class="container mt-4">
    <h3 class="text-center bg-info text-white p-4 m-2">Tab-Task using NgFor</h3>
    <ul class="nav nav-pills">
        <li class="nav-item" *ngFor="let skill of skillsArray" (click)="selectedSkillset=skill.skillName">
            <a href="javascript:;" class="nav-link " [ngClass]="{
                'active':selectedSkillset.toLowerCase().includes(skill.skillName)
            }">{{skill.skillName}}</a>
        </li>
    </ul>
    <hr>
    <div class="tabs-body">
        <ng-container *ngFor="let skill of skillsArray">
            <div class="card" *ngIf="selectedSkillset.toLowerCase().includes(skill.skillName)">
                <div class="card-body" [innerHTML]="skill.content">

                </div>
            </div>
        </ng-container>
    </div>
</div>